<!DOCTYPE html>
<html lang="ptBR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/ViewRegister.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../resources/js/jquery.js"></script>
    <script src="../resources/js/modal.js"></script>
    <script src="../resources/js/message.js"></script>
</head>
<body>
    <main class="register_user">
        <div class="register_user_header">
            <h2>Register</h2>
        </div>
        <div class="register_user_content">
            <div class="register_user_content_default">
                <input type="text" name="username" id="username" class="register_user_content_input">
                <input type="password" name="password" id="password" class="register_user_content_input">
                <button class="btn btn-primary">Register</button>
                <button class="btn btn-second">Clean</button>
                <span>Já possui uma conta? <a href="http://localhost:8080/user/login">Clique Aqui!</a></span>
            </div>
            <div class="register_user_content_other_ways">
                <button class="btn btn-danger">Google</button>
                <button class="btn btn-primary">Facebook</button>
                <button class="btn btn-primary">Google</button>
                <button class="btn btn-primary">Google</button>
            </div>
        </div>
        <div class="register_user_footer">
            <h4>TODO List</h4>
        </div>
    </main>
</body>
</html>