*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todolist{
    width: 200dvh;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_adicionar_atividade{
    display: flex;
    justify-content: center;
    align-items: center;
}