<!DOCTYPE html>
<html lang="ptBR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/list.js"></script>
    <script src="../assets/js/todolist.js"></script>
</head>
<body>
    <main class="todolist">
        <div class="container container_todolist_title">
            <h2>TODO List</h2>
        </div>
        <div class="container">
            <table class="table" name="table">
                <thead>
                    <tr class="">
                        <th scope="col">ID</th>
                        <th scope="col">Description</th>
                        <th scope="col">Done</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td scope="row">teste</td>
                        <td scope="row">false</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container container_todolist_add_item">
            <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" onclick="Todolist.openModalAddItem()">Add Item</button>
        </div>    
    </main>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Todolist.closeModalAddItem()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Todolist.closeModalAddItem()">Close</button>
              <button type="button" class="btn btn-primary">Add Item</button>
            </div>
          </div>
        </div>
      </div>
</body>
</html>